.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 12px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

label{
    font-size: 1rem;
    /* color: gray; */
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    margin-top: -10px;
    margin-bottom: 5px;
    display: none;
}