.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("https://codecanyon.img.customer.envatousercontent.com/files/382231196/preview.jpg?auto=compress%2Cformat&q=80&fit=crop&crop=top&max-h=8000&max-w=590&s=480d1dc02ad251141e3db927eb2e1759");
  background-size: cover;
  background-position: center;
}

form{
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h1{
  color: rgb(77,1,77);
  text-align: center;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
}

input:invalid[focused="true"]{
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
  display: block;
}